<!-- Your code here -->
<!-- Hello <%= params[:name] %> -->
<!--.humanize makes first char capital, .downcase has the opposite effect-->
<!-- to use controller to assign value to name, use the next line-->
<!--Hello <%= @name %> -->
<% City.all.each do |c| %>
	<% if c %>
	<!--<% if @w %>-->
		<!--<h1><%= @w[:city] %></h1>-->
		<h6> <%= c.name %> </h6>
		<p>
			<!--It's <%= @temperature %>F
			and it looks like <%= @w[:description] %>-->
			It's <%= c.temperature %>F and it looks like <%= c.description %>
			<!--<% City.clear %>-->
		</p>
	<% end %>
<% end %>
<% end %>

<%= form_with local: true, method: 'get', url: 'index' do |f| %>
	City: <%= f.text_field :city %>
	<%= f.submit 'Show weather'%>
<% end %>
	