<%= @message %>
<h5>
	<%= form_with local: true, method: "POST", url: 'create' do |f| %>
		
	<%= f.label :city %><br>
	<%= f.text_field :city, :required => true %><br>
		
	<%= f.label :population, 'Population' %><br>
	<%= f.number_field :population, required: true %><br>
		
	<%= f.label :landmark, 'Landmark' %><br>
	<%= f.text_field :landmark, required: true %><br>
		
	<%= f.submit 'Create' %>
<% end %>
</h5>

			

		
