<%= @message %><br>
<h5>
	<!-- I know this formatting looks ugly; will beautify it later -->
	
		
	<% if @city and @cityObject %>               <!-- if parameter city is specified-->
		<h5>
		<%= @cityName %><br>
		----------------------------------------------<br>
		POPULATION:	&emsp;&emsp;&emsp;&emsp; LANDMARK:<br>
		&emsp;<%= @cityPopulation %> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <%= @cityLandmark %><br><br>	
		</h5>
	<% else %>                          <!-- if no city specified, output all cities from hash -->
		<!--no city param, will check all cities<br>-->
		<% if @allCities and @allCities.size > 0 %>
			<% @allCities.each do |key, city| %>
				<!--city: <%= key %><br> -->       	<!-- get city object --> 
				<% if key %>
					<%= city.name %><br>
					----------------------------------------------<br>
					POPULATION:	&emsp;&emsp;&emsp;&emsp; LANDMARK:<br>
					&emsp;<%= city.population %> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <%= city.landmark %><br><br><br>					    

				<% end %>
			<% end %>
		<% else %>
			<h5> No cities have been created yet. </h5>
			<%= button_to "Create new city", { :action => "new" }, :method => :get %>
		<% end %>
	<% end %>		
</h5>
			

		
